{# extends layout.twig #}
{# file to visualise the dashboard #}
{# includes responsive navigation bar #}
{# includes page content and features #}

{% extends 'layout.twig' %}
{% set page_title = 'Admin dashboard' %}
{% block content %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ css_path }}" rel="stylesheet" />
    </head>
    <body class="text-center">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-lg-5">
        <a class="navbar-brand"><i class="bi bi-file-person-fill"></i>  {{ username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ logout_path }}">Log out  <i class="bi bi-door-open-fill"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
    <form action="{{ action_create_user }}" method={{ method }}>
        <button class="btn btn-primary" type="submit" style="background-color: #0d6efd; color: whitesmoke; margin-bottom: 5px;">Create user</button>
    </form>
    <form action="{{ action_delete_user }}" method={{ method }}>
        <button class="btn btn-primary" type="submit" style="background-color: darkred; color: whitesmoke; margin-bottom: 5px;">Delete user</button>
    </form>
<!-- Page Content-->
<body class="text-center">

<div id="page-content-div">
    <br>
    <h1>{{ page_heading_1 }}</h1>
    <br>
    <h3>{{ page_heading_3 }}</h3>
    <div class="container-md">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Account timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for array in user_list|slice(0, count) %}
                <tr>
                    <td>{{ array.user_id|e }}</td>
                    <td>{{ array.username|e }}</td>
                    <td>{{ array.account_timestamp|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
