{# File to visualise success of sending telemetry data #}

{% extends 'layout.twig' %}
{% set page_title = 'User creation failure!' %}
{% block content %}

    <body class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-lg-5">
            <a class="navbar-brand"><i class="bi bi-file-person-fill"></i>  {{ username }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ logout_path }}">Log out  <i class="bi bi-door-open-fill"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="form-signin">
        <div class="align-items-center">
            <br>
            <h1 class=".text-failure">{{ header_1 }}</h1>
            <h2 class="text-danger">{{ header_2 }}</h2>
            <br>
            <p><b>{{ username }}</b> {{ paragraph_1 }}</p>
            <form action="{{ action_dashboard }}" method={{ method }}>
                <button class="btn btn-primary" type="submit" style="background-color: #0d6efd; color: whitesmoke; margin-bottom: 5px;">Back to dashboard</button>
            </form>
        </div>
    </main>
    </body>

{% endblock %}
