{# twig file to show render of telemetry details #}
{# calls on array of telemetry details and shows in chart form #}
{# extends the layout twig file #}

{% extends 'layout.twig' %}
{% set page_title = 'Process telemetry' %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-lg-5">
            <a class="navbar-brand"><i class="bi bi-file-person-fill"></i>  {{ username }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ logout_path }}">Log out  <i class="bi bi-door-open-fill"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <body class="text-center">

    <div id="page-content-div">
        <br>
        <h1>{{ page_heading_1 }}</h1>
        <br>
        <h2>Here are your messages, {{ username }}!</h2>
        <br>
        <div class="container-md">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">MSIDSN</th>
                        <th scope="col">EE-MSIDSN</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Fan direction</th>
                        <th scope="col">Keypad</th>
                        <th scope="col">Switch 1</th>
                        <th scope="col">Switch 2</th>
                        <th scope="col">Switch 3</th>
                        <th scope="col">Switch 4</th>
                        <th scope="col">Time received</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for array in validated_array|slice(0, count) %}
                        <tr>
                        <td>{{ array.msidsn|e }}</td>
                        <td>{{ array.eemsidsn|e }}</td>
                        <td>{{ array.temperature|e }} °C</td>
                        <td>{{ array.fan_direction|e }}</td>
                        <td>{{ array.keypad|e }}</td>
                        <td>{{ array.s1|e }}</td>
                        <td>{{ array.s2|e }}</td>
                        <td>{{ array.s3|e }}</td>
                        <td>{{ array.s4|e }}</td>
                        <td>{{ array.receivedtime|e }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div>
                <br>
                <button class="btn btn-primary" onclick="location.reload()">Reload</button>
                <br>
                <br>
                <form action="{{ action_dashboard }}" method={{ method }}>
                    <button class="btn btn-primary" type="submit" style="background-color: #0d6efd; color: whitesmoke; margin-bottom: 5px;">Back to dashboard</button>
                </form>
            </div>

        </div>
        <br>
        <br>
        <div class="container-sm">
            <h1>{{ page_heading_2 }}</h1>
            <br>
            <br>
                <div class="container-sm">
                    <canvas id="myChart"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                    const ctx = document.getElementById('myChart');
                    let timestamps = {{ timestamps|raw }};
                    let temperatures = {{ temperatures|raw }};

                    console.log(timestamps);
                    console.log(temperatures);

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{
                                label: 'Temperature over Time',
                                data: temperatures,
                                borderWidth: 2,
                                yAxisID: 'y',
                            }],
                        },
                        options: {
                            scales: {

                                y: {
                                    type: 'linear',
                                    beginAtZero: true,
                                    display: true,
                                    position: 'left',
                                }
                            },
                            responsive: true,
                        }
                    });
                </script>
        </div>
    </div>

    </body>

{% endblock %}
